:root {
    --darkbluebar: #13293d;
    --white: #fff;
    --lightorange: #f8c685;
    --black: #000;
}


body {
    display: flex;
    flex-direction: column;
    line-height: 1.3;
}

header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1%;
    background-color: var(--darkbluebar);
    color: var(--lightorange);
}

h1 {
    font-size: 200%;
}

h2 {
    margin: 2% 0;
    font-size: 200%;
    text-decoration: underline;
}

nav ul {
    display: flex;
    justify-content: space-between;
    min-width: 300px;
    list-style: none
}

nav a {
    color: var(--lightorange);
    font-weight: bold;
    font-size: larger;
    text-decoration: none;
}

nav a:hover {
    color: var(--black);
    text-decoration: underline
}

/* decritive image */
body image {
    max-height: 20px;
}

main {
    display: flex;
    flex: 1 1 0;
    max-width: 1200px;
    margin: 2% auto;
}

section {
    flex: 1 1 0;
    padding-right: 5%;
}
 /* Parent of sidebar, main */
article {
    display: flex;
    border-bottom: 2px solid #d8a47f;
}

article div {
    flex: 5;
    margin-top: 10px;
    margin-bottom: 10px;
}

article p {
    margin: 2% 0;
    font-size: 110%;
}

/* Sidebar */
aside {
    width: 25%;
    flex: 1;
}


/* Underline, black text, grab cursor */
span[data-descr] {
    position: relative;
    text-decoration: underline;
    color: #000;
    cursor: grab;
}

/* Position tooltip above the term/phrase, same color as header and nav links, no border-radius, smaller font size */
span[data-descr]:hover::after {
    content: attr(data-descr);
    position: absolute;
    bottom: 0px;
    min-width: 200px;
    border: 1px #aaaaaa solid;
    background-color: var(--darkbluebar);
    font-weight: bold;
    padding: 12px;
    color: var(--white);
    font-size: 80%;
    z-index: 1;
}

/* Help with flexbot */
.work {
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
}


.card {
    text-align: start;
    border-style: solid;
    border-width: 2px;
    border-color: #000;
    align-items: center;
    align-content: center;
    text-align: center;
} 

.card:hover {
    cursor: pointer;
    
}


/* how do I get the images to fill hte space? */


footer {
    display: flex;
    justify-content: center;
    padding: 2%;
    background-color: var(--darkbluebar);
    color: var(--lightorange);
}

@media screen and (max-width: 768px) {



    header,
    main {
        flex-direction: column;
    }

    section {
        padding-right: 0;
    }

    aside {
        width: 100%;
        text-align: center;
    }
}

@media screen and (max-width: 550px) {
    article {
        flex-direction: column;
    }
    
    *{
        color: var(--white);
        background-color: var(--black);
    }

    h1{
        background-color: var(--darkbluebar);
    }

    header{
        background-color: var(--darkbluebar);
    }
}