:root {
    --clr-neautral-100: rgb(255, 255, 255);
    --clr-neautral-900: #000;
    --clr-bright-green: hsl(142, 90%, 61%);
    --clr-dark-blue: #13293d;
    --clr-light-orange: #f8c685;
    --clr-orange: orange;
}

.nav-custom {
    background-color: var(--clr-neautral-900);
    font-size: larger;
    font-weight: bold;
}

.text-nav-custom{
    color: var(--clr-light-orange);
}

.about {
    font-family: 'Kalam', cursive;;
}

.about h1 {
    font-size: 3.5em;
}


.work-card{
    width: 80%;
    border-radius: 20px;
    position: relative;
    display: block;
    padding: 3em;
    background-color: lightgrey;

}

.work-card:hover {
   transform: ;
}

.work-tech{
    display: block;
    font-size: x-large;
    color: grey;
    font-weight: 500;
}

.work-title {
    color: #000;
    display: contents;
    letter-spacing: 1.5px;
    font-size: xx-large;
    font-weight: 700;
    font-family: 'Kalam', cursive;;
}
.photo {
    border-radius: 15px;
}